[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bash/liquidprompt"]
	path = bash/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
